#addCard.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "#modalTitleId", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#modalTitleId.modal-title Add new card
      .modal-body
        = form_for Card.new, url: cards_path do |f|
          .form-group
            = f.label :title, 'Title:'
            = f.text_field :title, class: 'form-control'
          .text-center
            = f.hidden_field :list_id, value: list.id, id: 'cardListId'
            -# = f.hidden_field :board_id, value: @board.id
            = f.submit 'Add card', class: 'btn btn-success'
