#addList.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "#modalTitleId", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#modalTitleId.modal-title Add new list
      .modal-body
        = form_for List.new, url: { controller: 'lists', action: 'create'} do |f|
          .form-group
            = f.label :title, 'Title:'
            = f.text_field :title, class: 'form-control'
          .text-center
            = f.hidden_field :board_id, value: @board.id
            = f.submit 'Add list', class: 'btn btn-success'
