.board{ id: "board-#{ board.id }" }
  = link_to board_mark_path(board), method: :put, class: 'btn' do
    - if board.marked?
      %i.glyphicon.glyphicon-star
    - else 
      %i.glyphicon.glyphicon-star-empty
  = link_to board.title, board_path(board)
  .pull-right
    lists:
    = board.list_count
    |
    cards:
    = board.card_count
    = link_to board_path(board), method: :delete, class: 'btn btn-danger btn-xs', remote: true do
      %i.glyphicon.glyphicon-trash
