.list-item
  .list-header
    .list-actions
      .add-card{class: 'btn btn-success btn-xs', data: { target: "#addCard", toggle: "modal", 'list-id' => list.id}}
        %i.glyphicon.glyphicon-plus
      = link_to list_path, method: :delete, class: 'btn btn-danger btn-xs white-font' do
        .glyphicon.glyphicon-trash
    %h3= list.title
    cards:
    = list.cards.count
  %ul.tasks-container
    -list.cards.each do |card|
      = render 'card_item', card: card

  = render 'add_card_modal', list: list

:coffee
  $ ->
    $(".tasks-container").sortable
      placeholder: "ui-state-highlight"
      connectWith: ".tasks-container"
      dropOnEmpty: true
      stop: (event, ui) ->
        item = ui.item
        listId = item.parents('.list-item-wrap').data('id')
        $.ajax
          type: 'GET'
          url: "/cards/" + item.data('id') + "/move_to_list/" + listId + ".json"
          dataType: 'JSON'
