= link_to user_dashboard_path do
  %i.glyphicon.glyphicon-circle-arrow-left
  Back to dashboard
%h2= @board.title
= link_to board_path(@board), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger btn-xs' do
  Delete this board
  %i.glyphicon.glyphicon-trash
.box
  .project-members
    %h3
      %i.icon.ion-person-stalker
      Members:
    %ul
      - @board.users.each do |user|
        %li
          = user.email
          %a.text-danger{ href: '#' }
            %i.icon.ion-minus-circled
    %h4
      = link_to '#' do
        Invite
        %i.icon.ion-person-add
  %h3
    %i.icon.ion-clipboard
    Task lists:
  .board-acionts
    %h4
      %a{ data: { target: "#addList", toggle: "modal", href: '#' }}
        Add list
        %i.icon.ion-plus-circled
  %ul#lists_container.list-inline
    - @board.list_by_order.each do |list|
      %li.ui-state-default.list-item-wrap{ data: { id: list.id } }= render 'list', list: list
  =render 'add_card_modal'
  =render 'add_file_modal'

:coffee
  $ ->
    $(".add-card").click (e) ->
      list_id = $(e.target).attr 'data-listid'
      $('#cardListId').attr 'value', list_id

    $("#lists_container").sortable(
      placeholder: "ui-state-highlight"
      update: (event, ui) ->
        idArray = []
        $('.list-item-wrap').each (index, el) ->
          idArray.push $(el).data 'id'
        $.ajax
          type: 'PUT'
          url: "#{ board_path }.json"
          dataType: 'JSON'
          data:
            board:
              list_order: idArray

    )
    $("#lists_container").disableSelection()
